*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color:#fff;
    text-decoration: none;
}
/* HEADER NAV */
header{
    background-color: #2C3F51;
}
.text-left,
.text-right{
    color: #fff;
}
ul li {
    list-style: none;
    padding: 0 15px;
}

/* MAIN */

/* SEZIONI */
.section1,
.section3{
    background-color:#19BC9D;
}
.section5{
    background-color:#3A546D ;
}
.section1,
.section3,
.section5,
footer{
    color: #fff;
}
.section4 .col .form-control{
    border: none;
    border-radius:0;
    border-bottom:solid 1px grey;
}
.section4 .col .btn-primary{
    background-color: #19BC9D;
    border: none;
}
/* FOOTER */
footer{
    background-color: #2C3F51;
    padding: 20px 0px;
}

