*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER NAV */
header{
    background-color: #2C3F51;
}
.text-left,
.text-right,
a{
    color:#fff;
}
a{
    text-decoration: none;
}
.text-right{
    text-align: center;
}
ul li {
    list-style: none;
    padding: 0 15px;
}

/* MAIN */

/* SEZIONI */
/* section1 */
.section1,
.section3{
    background-color:#19BC9D;
    color: #fff;
    text-align: center;
}
.section2{
    text-align: center;
}
.section5{
    background-color:#3A546D ;
    text-align: center;
}

/* FOOTER */
footer{
    background-color: #2C3F51;
    text-align: center;
    padding: 20px 0px;
}

